/**
 * @name AnotherAkaliMain
 * @author 『C̷๏r̫̫』#4697
 * @version 2.0
 * @description Corre de la asesina sin maestro...
 * @invite 5TqHBWZ9Gd
*/

@import url('https://puckzxz.github.io/NotAnotherAnimeTheme/css/scsl.css');
@import url('https://gibbu.github.io/BetterDiscord-Themes/AdjustableServerWidth/base.css');
@import url('https://gibbu.github.io/BetterDiscord-Themes/RadialStatus/base.css');
@import url("https://gibbu.github.io/BetterDiscord-Themes/FrostedGlass/base.css");
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk');
@import url("https://monstrousdev.github.io/themes/addons/user-tags.css");
@import url("https://codedotspectra.github.io/themes/core/badges.css");


:root {
  --background-image: url('https://i.imgur.com/VgpzZkI.jpeg');
  --friends-icon: url('https://i.imgur.com/1Zya53T.png');
  --friends-icon-zoom: 420%;
  --friends-icon-position: center center;
  --main-color: rgb(199,29,157);
  --serverlist-brightness: 0.65;
  --left-brightness: 0.75;
  --middle-brightness: 0.55;
  --right-brightness: 0;
  --main-transparency: rgba(0, 0, 0, 0.8);
  --hover-list-bg-color: rgba(138,0,142,0.44);
  --border-lines-color: rgba(0,0,0,0.1);
  --scroll-bar-color: rgba(0,180,195,0.4);
  --selected-text-voice-color: #00d0b6;
  --channel-hover-text-color: rgba(0,97,123,1);
  --unread-text-color: rgba(0,255,240,1);
  --user-popup-background: rgba(119,0,119,0.2);
  --font-size: '16';
  --unread-server-animation: rainbow;
  --server-icon-size: 38px;
  --server-icon-spacing: 8px;
  --server-container-padding: 10px;
  --rs-small-spacing: 2px;
  --rs-large-spacing: 3px;
  --rs-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #00be3f;
  --rs-idle-color: #ff9f00;
  --rs-dnd-color: #d41d1d;
  --rs-offline-color: #1b1e22;
  --rs-streaming-color: #420aa2;
  --rs-invisible-color: #747f8d;
  --show-gift-gif-buttons: none;
  --update-notice-1: none;
}